<div class="mb-4 flex justify-between">
  <div class="inline-block">
    <h3 class="text-foreground font-semibold">Roles List</h3>
    <div class="text-muted-foreground space-x-1 text-xs font-medium">
      <span class="text-foreground">Total Roles: {{ allRoles().length }}</span>
    </div>
  </div>
  <div class="inline-block space-x-4">
    <button 
      class="bg-primary text-primary-foreground flex-none rounded-md px-4 py-2.5 text-xs font-semibold"
      (click)="onCreateRole()">
        Add Role
    </button>
  </div>
</div>
<div class="border-muted/20 bg-background flex min-w-full flex-col rounded-xl border p-2">
  <app-table-action
    [searchPlaceholder]="'Search roles...'"
    [title]="'Tabla de Roles'">
  </app-table-action>

  <app-table
    [data]="filteredAndPaginatedRoles().paginated"
    [columns]="columns"
    [title]="'Rol'"
    (deleteRow)="onDeleteRole($event)"
    (viewRow)="onViewRole($event)"
    (editRow)="onEditRole($event)"
    (toggleAllRows)="onToggleAllRows($event)">
  </app-table>

  <app-table-footer
    [totalItems]="filteredAndPaginatedRoles().totalFiltered"
    [itemsPerPage]="itemsPerPage()"
    [currentPage]="currentPage()"
    (pageChange)="onPageChange($event)"
    (itemsPerPageChange)="onItemsPerPageChange($event)">
  </app-table-footer>
</div>

